/* Basic styling for the to-do list */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #8b6aec;
}

h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
}

li:hover {
  background-color: #f0f0f0;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #210a72;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Style for the task list items */
#taskList li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

/* Style for the task text */
#taskList li span {
  flex: 1;
  font-size: 16px;
}

/* Style for the "Edit" button */
#taskList li button.edit {
  background-color: #06c46b;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

/* Style for the "Delete" button */
#taskList li button.delete {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
